/**
 * Adjust box sizing on site.
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Adjust font size for easier px to rem conversion.
 */
html {
    font-size: 62.5%;
}

/**
 * Side wide custom properties.
 */
:root {
    --base-width-max-width: 120rem;
    --base-width-side-margin: 2rem;

    /* colors */
    --color-black: #000;
    --color-white: #fff;
    --color-text: #000;
    --color-primary: hsl(179, 62%, 43%);
    --color-primary-cta: hsl(71, 73%, 54%);
    --color-neutral: hsl(218, 22%, 67%);
    --color-neutral-light: hsl(204, 43%, 93%);

    /* font-sizes */
    --font-size-100: 1.6rem;
    --font-size-110: 1.8rem;
    --font-size-120: 2rem;
    --font-size-130: 2.4rem;
    --font-size-140: 2.8rem;
}

/**
 * Remove annoying empty space below inline-block elements.
 */
img,
[style*='inline-block' i],
svg,
canvas,
picture {
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v21-latin/karla-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/karla-v21-latin/karla-v21-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/karla-v21-latin/karla-v21-latin-700.woff2') format('woff2'),
    url('../fonts/karla-v21-latin/karla-v21-latin-700.woff') format('woff');
}

body {
    font: 1.6rem/1.6 'Karla', sans-serif;
    font-size: var(--font-size-100);
    background-color: var(--color-neutral-light);
}

/**
 * Sticky footer.
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > header,
body > footer {
    flex: 0 0 auto;
}

body > main {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

/**
 * Add base width to handle horizontal alignment.
 */
.base-width {
    width: calc(100% - (2 * 2rem));
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@supports (color: var(--color-text)) {
    .base-width {
        width: calc(100% - (2 * var(--base-width-side-margin)));
        max-width: var(--base-width-max-width);
    }
}

.layout-single-price-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    width: 63.4rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.2rem;
    background-color: var(--color-white);
    box-shadow: 0 10px 20px 10px rgba(0,0,0,.04), -1px 4px 8px 4px rgba(0,0,0,.03);
}

.layout-single-price-grid__header {
    grid-column: 1 / -1;
}
